<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Detalle</ion-title>
    <ion-buttons slot="end">
      <ion-back-button text="Atrás"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  color="primary" padding [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>ID # {{ perrito.id }}</ion-card-subtitle>
      <ion-card-title>Nombre: {{ perrito.nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <strong> Raza de perro: {{ perrito.raza}} </strong>
    </ion-card-content>

    <ion-button [routerLink]="['/update-perrito',perrito.id]" color="warning"><ion-icon name="create"></ion-icon></ion-button>
    <ion-button [routerLink]="['/delete-perrito',perrito.id]" color="danger"><ion-icon name="trash"></ion-icon></ion-button>

  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="mycolor">
    <ion-title class="ion-text-center">Pet Dogy © 2023</ion-title>
  </ion-toolbar>
</ion-footer>